html,
.phone-base {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.phone-base {
  max-height: 870px;
}

/**/

.phone-container {
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

.phone-base, .board-container {
  position: absolute;
}

.phone-base img {
  height: 100%;
  width: auto;
}

.screen {
  position:absolute;
  top: 35%;
  left: 28.6%;
  width: 44%;
  height: 14.5%;
  overflow: hidden;
}

/* title screen */

.snake.title-screen{
  height: 100%;
  width: 98%;
}

/* scores screen */

.game-over {
  background-color: #8a8776;
  color: #1c1d1d;
  position: absolute;
  padding: 5px;
  box-sizing: border-box;
  text-shadow: 1px 0 0 #535151;
}

.game-over p {
    padding: 0;
    margin: 5px;
}

.on.game-over {
  background: rgb(54,150,115);
}


/* gh icon styles*/

a.gh-link {
  position: absolute;
  bottom: 1%;
  height: 40px;
  width: 40px;
  left: 1%;
}

img.gh-icon {
  height: auto;
  width: 100%;
}


/* key styles */

.number-pad {
  position: absolute;
  top: 63%;
  left: 50%;
  transform: translateX(-50%);
  height: 30%;
  width: 60%;
}

.key {
  position: absolute;
}

.key.button1 {
    top: 7%;
    left: 8%;
    height: 15%;
}

.key.button2 {
    top: 7%;
    height: 15%;
    left: 39%;
}

.key.button3 {
    top: 6%;
    height: 15%;
    left: 69%;
}

.key.button3 {
    top: 6%;
    height: 15%;
    left: 69%;
}

.key.button4 {
    top: 26%;
    height: 15%;
    left: 7%;
}

.key.button5 {
    top: 26%;
    height: 15%;
    left: 39%;
}

.key.button6 {
    top: 26%;
    height: 15%;
    left: 69%;
}

.key.button7 {
    top: 46%;
    height: 15%;
    left: 7%;
}

.key.button8 {
    top: 46%;
    height: 15%;
    left: 39%;
}

.key.button9 {
    top: 46%;
    height: 15%;
    left: 69%;
}

.key.buttonstar {
    top: 67%;
    height: 13%;
    left: 11%;
}

.key.buttonpound {
    top: 64%;
    height: 15%;
    left: 69%;
}

.key.button0 {
    top: 64%;
    height: 15%;
    left: 39%;
}

.key.buttonpound {
    top: 67%;
    height: 13%;
    left: 74%;
}

.key.clear {
    top: 53.5%;
    height: 5%;
    left: 27%;
    width:15%;
}

.key.up {
    top: 53%;
    height: 4.5%;
    left: 63%;
    width:15%;
}

.key.down {
    top: 59%;
    height: 5%;
    left: 62%;
    width:15%;
}

.key.home {
    top: 53.5%;
    left: 41.35%;
    height: 6.5%;
    width: 20%;
}

.key.home.pressed, .key.clear.pressed,
.key.up.pressed, .key.down.pressed {
    border: 1px solid rgba(0,0,0,0);
}

.pressed{
  border: 1px solid rgba(0,0,0,0.5);
  border-radius: 50%;
}

button.home-btn {
    top: 53%;
    background: url(./images/home.png);
    height: 7%;
    border: none;
    width: 20%;
    position: absolute;
    background-size: cover;
    left: 40%;
}

/* snack styles */

.snack {
    position: absolute;
    height: 100%;
    width: 100%;
}

.vertical {
    position: absolute;
    height: 100%;
    width: 25%;
    background-color: rgb(3,83,59);
    transform: translateX(-50%);
    top: 0;
    left: 50%;
}

.horizontal {
    position: absolute;
    height: 25%;
    width: 100%;
    background-color: rgb(3,83,59);
    transform: translateY(-60%);
    top: 50%;
    left: 0;
}

.middle {
    position: absolute;
    height: 22%;
    width: 22%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
}
