body {
  background-color: black;
}

.board-container {
  position: relative;
}

.game-over {
  background-color: black;
  border: 1px solid white;
  color: white;
  height: 100px;
  left: 50%;
  padding-top: 20px;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
}
